label {
	width: 100px;
	display: block;
	float: left;
	padding: 3px;
	margin-top: 10px;
	font-size: 12px;
}
.formstyle {
	padding-bottom: 25px;
}
.form {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	margin-bottom: 25px;
	background-color: #FFF;
	margin-top: 17px;
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}
#form2 {
	display: none;
}
.fieldsets {
	border: 1px solid #999999;
}
#form3 {
	display: none;
}
#form4 {
	display: none;
}
.fieldstyle {
	border: 1px solid #999999;
	background-size: 100% 100%;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 265px;
	font-size: 14px;
	background-color: #EBEBEB;
	transition: all 0.6s;
}
.fieldstyledate {
	border: 1px solid #999999;
	background-size: 100% 100%;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	display: block;
	margin-top: 10px;
	margin-left: 10px !important;
	margin-bottom: 10px;
	width: 120px;
	font-size: 12px;
	background-color: #EBEBEB;
	transition: all 0.6s;
	float: left;
}
.fieldstyle:hover,
.fieldstyle:focus,
.fieldstyle_with_label:hover,
.fieldstyle_with_label:focus,
.select_with_label:hover,
.select_with_label:focus  {
	background-repeat: no-repeat;
	background-position: center -30px;
	transition: all 0.6s;
	background-color: #FFF;
}

.fieldstyle_with_label {
	transition: all 0.6s;
	background-size: 100% 100%;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px;
	font-size: 14px;
	margin-left: 10px;
	float: left;
}
.fieldstyle_white_with_label {
	transition: all 0.6s;
	background-size: 100% 100%;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 190px;
	font-size: 14px;
	margin-left: 10px;
	float: left;
}
.warning {
	color: #FFF;
	background-color: #CE0000;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 20px;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.radiolabel {
	width: 100px;
	display: inline;
	line-height: 30px;
}
.radiocontainer {
	display: block;
	width: 220px;
	float: left;
}
.radiostyle {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 5px;
}
.checkboxstyle {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
}
.clearafter {
	clear: both;
	display: block;
	height: 0px;
}
.fieldhidden {
	display: none;
}
.layerwindow {
	width: 100%;
	position: fixed;
	z-index: 10000;
	top: 0px;
	display: none;
	left: 0px;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}
.inlayerwindow {
	background-color: #E4E4E4;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	padding: 8px;
	-webkit-box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
	margin-top: 60px;
}
.inlayerwindow_large {
	background-color: #E4E4E4;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	height: 500px;
	padding: 8px;
	-webkit-box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
	margin-top: 60px;
}
.inlayerwindow_medium {
	background-color: #E4E4E4;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	padding: 8px;
	-webkit-box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2);
}
.layer_close_x {
	line-height: 15px;
	background-image: url(largebutton.png);
	background-repeat: repeat-x;
	text-align: center;
	width: 15px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	position: absolute;
	transition: 0.5s;
	background-color: #FFF;
}
.inlayerwindow .layerwindowclose {
	line-height: 25px;
	background-image: url(largebutton.png);
	background-repeat: repeat-x;
	text-align: center;
	width: 150px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	margin-top: 271px;
	margin-left: 150px;
	position: absolute;
	transition: 0.5s;
	background-color: #FFF;
}
.inlayerwindow_large .layerwindowclose {
	line-height: 25px;
	background-image: url(largebutton.png);
	background-repeat: repeat-x;
	text-align: center;
	width: 150px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	margin-top: 471px;
	margin-left: 265px;
	position: absolute;
	transition: 0.5s;
	background-color: #FFF;
}
.inlayerwindow .layerwindowclose:hover, .inlayerwindow_large .layerwindowclose:hover, .large_button:hover, .small_button:hover, .layer_close_x:hover {
	background-position: 0px 100px;
	border: 1px solid #0070C0;
	transition: 0.5s;
	background-color: #0070C0;
	color: #FFF;
}
.inlayerwindow .inlayerwindowscrollarea {
	background-color: #FFF;
	height: 245px;
	width: 96%;
	overflow: auto;
	padding: 2%;
}
.inlayerwindow_large .inlayerwindowscrollarea {
	background-color: #FFF;
	height: 435px;
	width: 96%;
	overflow: auto;
	padding: 2%;
}
#uuid_box {
	color: #FFF;
	background-color: #999;
	display: none;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
}
#layer_kpsearch_search_results {
	background-color: #EFEFEF;
	padding: 15px;
	border: 1px solid #999;
	width: 90%;
	height: 350px;
	margin-top: -5px;
}
#layer_kpsearch_kpuuidsearchoutput {
	background-color: #EFEFEF;
	padding: 15px;
	border: 1px solid #999;
	width: 90%;
	height: 310px;
	margin-top: 10px;
	overflow: auto;
	display: none;
}
.kp_search_results_box {
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #CCC;
	font-size: 13px;
	line-height: 135%;
	margin-bottom: 5px;
	font-weight: normal;
	cursor: default;
}
.search_criteria_expand {
	height: 21px;
	overflow: hidden;
}
.search_criteria_expand:hover, .search_criteria_expand:focus {
	height: auto;
	overflow: auto;
}
.kp_search_results_box input {
	margin-top: 8px;
	margin-bottom: 8px;
}
.select_with_label {
	transition: all 0.6s;
	background-size: 100% 100%;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px;
	float: left;
	margin-left: 10px;
	border: 1px solid #999999;
}
textarea {
	clear: both;
	resize: none;
}
.large_button {
	line-height: 40px;
	background-image: url(largebutton.png);
	background-repeat: repeat-x;
	text-align: center;
	width: 200px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	transition: 0.5s;
	background-color: #FFF;
}
.small_button {
	line-height: 25px;
	background-image: url(largebutton.png);
	background-repeat: repeat-x;
	text-align: center;
	width: 200px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	transition: 0.5s;
	background-color: #FFF;
}
.waiting_button {
	height: 27px;
	background-image: url(images/waiting_black.png), url(largebutton.png);
	background-position: center center, 0px 0px;
	background-repeat: no-repeat, no-repeat;
	background-size: 90% 90%, 100% 100%;
	text-align: center;
	width: 27px;
	border: 1px solid #ACACAC;
	cursor: pointer;
	transition: 0.5s;
	background-color: #FFF;
	float: right;
	margin-left: 5px;
}
.waiting_button:hover {
	background-image: url(images/waiting_white.png), url(largebutton.png);
	background-position: center center, 0px 100px;
	background-size: 95% 95%, 100% 100%;
	border: 1px solid #0070C0;
	transition: 0.5s;
	background-color: #0070C0;
}
.next_button_container {
	text-align: center;
	display: block;
	width: 100%;
	clear: both;
	padding-top: 40px;
}
.left {
	width: 430px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.right {
	width: 410px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}
#layer_kpbookforservice_more {
	background-color: #FFFFFF;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #999;
	cursor: pointer;
	width: 404px;
	margin-right: auto;
	margin-left: auto;
	transition: all 0.3s;
}
#layer_kpbookforservice_more:hover {
	background-color: #0070C0;
	transition: all 0.3s;
	color: #FFF;
	border: 1px solid #0070C0;
}
