body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #E1F2FF;
	padding: 0px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}
#titlebar {
	background-color: #FFF;
	height: 80px;
	width: 100%;
	top: 0px;
	position: absolute;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	left: 0px;
	z-index: 1;
}
.searchresultshighlite {
	color: #FFF;
	background-color: #005A9A;
	text-align: center;
	margin-bottom: 2px;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
}
#titlebartext {
	color: #666666;
	margin-top: 50px;
	font-size: 18px;
	margin-left: 230px;
	font-weight: lighter;
	text-transform: uppercase;
	cursor: default;
}
.active {
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #E1F2FF;
}
:focus {outline:none;}
#sidebar {
	height: 100%;
	width: 200px;
	background-color: #FFF;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 10;
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}
#contentloader {
	margin-left: 250px;
	margin-top: 100px;
}
.hint {
	background-color: #FFF;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sidebar div {
	display: block;
	height: 50px;
	width: 70%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	transition: all 0.3s;
	cursor: default;
	font-size: 12px;
	padding-left: 30%;
	padding-top: 10px;
	font-weight: bold;
}
#sidebar div:hover {

}
#currenteditclient {
	position: absolute;
	z-index: 10;
	width: auto;
	top: 40px;
	right: 10px;
	color: #666666;
	font-size: 14px;
	margin-left: 250px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 4px;
	cursor: pointer;
}
.loadingindicator {
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	z-index: 10000000;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
	display:none;
}
h2 {
	font-size: 20px;
	font-weight: 300;
	color: #005692;
	text-align: center;
	margin: 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-family: 'Roboto', sans-serif;
}
.loginfielddesc {
	font-weight: normal;
}

#accountholder {
	position: absolute;
	right: 0px;
	top: 12px;
	cursor: default;
}
#registersnavoptions {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 15px;
}
#registersnavoptions .subitems {
	margin-bottom: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
}
#reportsnavoptions {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 15px;
}
#reportsnavoptions .subitems {
	margin-bottom: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
}
.navoptions .items {
	color: #000;
	background-color: #A4D8FF;
	text-align: center;
	width: 33%;
	cursor: default;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.reportsdescription {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navoptions .subitems {
	color: #000;
	background-color: #DDF0FF;
	text-align: center;
	width: 33%;
	cursor: pointer;
}
.navoptions .subitems:hover {
	color: #000;
	background-color: #AEDDFF;
}
.navoptions {
	margin-top: 55px;
	margin-right: 1%;
	margin-left: 1%;
	width: 98%;
}

#navigation, #closenavigation {
	color: #FFF;
	position: absolute;
	left: 232px;
	top: 12px;
	cursor: pointer;
}
#helpmenu {
	color: #FFF;
	position: absolute;
	left: 630px;
	top: 6px;
	cursor: pointer;
}
#helpmenu img {

}
#reportsmenu, #closereportsmenu {
	color: #FFF;
	position: absolute;
	left: 350px;
	top: 12px;
	cursor: pointer;
}
#registersmenu, #closeregistersmenu {
	color: #FFF;
	position: absolute;
	left: 480px;
	top: 12px;
	cursor: pointer;
}
#forgottenpw {
	margin-top: 20px;
	cursor: pointer;
}
#loginbox {
	background-color: rgba(255,255,255,0.5);
	height: 250px;
	width: 550px;
	border-radius: 10px;
	border: 2px solid #FFF;
	margin-top: 100px;
	padding-top: 15px;
}

#navigation img, #closenavigation img {
	padding-right: 7px;
	margin-top: -2px;
}
#reportsmenu img, #closereportsmenu img {
	padding-right: 7px;
	margin-top: -2px;
}
#registersmenu img, #closeregistersmenu img {
	padding-right: 7px;
	margin-top: -2px;
}
#opennavigation {
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	display: none;
	z-index: 100;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	top: 0px;
	transition: all 1s;
	padding-bottom: 8px;
}
#openreports {
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	display: none;
	z-index: 100;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	top: 0px;
	transition: all 1s;
	padding-bottom: 8px;
}
#openregisters {
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	display: none;
	z-index: 100;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	top: 0px;
	transition: all 1s;
	padding-bottom: 8px;
}
.blur {
	-webkit-filter: blur(2px);
	filter: blur(2px);
	transition: all 1s;
	pointer-events: none;
}
.noblur {
	-webkit-filter: blur(0px);
	transition: all 1s;
}
#systembar {
	background-color: #0070C0;
	height: 40px;
	margin-bottom: 30px;
	color: #FFF;
	z-index: 200;
	position: absolute;
	width: 100%;
	top: 0px;
}
#loginscreen {
	background-color: #FFFFFF;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 500;
	left: 0px;
	top: 0px;
	background-image: url(loginscreen_background.png);
}
#login {
	position: absolute;
	background-color: #E5E5E5;
	width: 100%;
	left: 0px;
	top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	z-index: 0;
}
#logininside {
	float: right;
	font-size: 14px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 14px;
}
a {
	text-decoration: none;
}
.buttonc2h {
	background-color: #FFFFFF;
	padding-top: 7px;
	padding-right: 40px;
	padding-bottom: 7px;
	padding-left: 40px;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.3s;
	font-weight: normal;
}
.buttonc2h:hover {
	background-color: #D8D8D8;
	transition: all 0.3s;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#subnavigation {
	background-color: #FFF;
	height: 75px;
	width: 80%;
	top: 0px;
	position: absolute;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	right: 0px;
}
#subnavigationoptions {
	text-align: center;
	margin-top: 50px;
	position: absolute;
	margin-left: 100px;
}
#subnavigationoptions div {
	display: inline;
	transition: all 0.7s;
	cursor: pointer;
	margin-right: 15px;
	margin-left: 15px;
	background-image: url(images/linkline.png);
	background-position: -450px bottom;
	background-repeat: no-repeat;
}
#subnavigationoptions div:hover {
	background-image: url(images/linkline.png);
	transition: all 0.7s;
	background-position: 0px bottom;
}
#last_visit_box, #clinical_visitation_box {
	font-family: sans-serif;
	font-size: 13px;
	color: #000;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #999;
	line-height: 150%;
}
#last_visit_box #last_visit_box_title, #clinical_visitation_box #clinical_visitation_box_title {
	color: #FFF;
	background-color: #025A9A;
	line-height: 180%;
	text-align: center;
	font-size: 13px;
	margin-bottom: 5px;
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
