.tipr_content
{
	color: #333;
	background-color: #fff;
	padding: 9px 17px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.7;
}
.tipr_container_bottom
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000000000;
	 box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
}
.tipr_container_top
{
     display: none;
     position: absolute;
     margin-top: -65px;
     z-index: 1000000000;
	 box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
}